  <%- include('header') -%>
  
  <div class="container">
    <hr>
    <div class="row">
        <label for="cards" style="font-size: x-large;"></label>
        <div class="col-md-4">
            <h5>Tony Stark</h5>
            <img src="https://i.ebayimg.com/images/g/~rEAAOSwGTReg--B/s-l400.jpg" width="250" height="350" class="d-block w-100" alt="...">
            <p><b>I AM ... </b>the best customer.</p>
        </div>
        <div class="col-md-4">
            <h5>Black Widow</h5>
            <img src="https://i.ebayimg.com/images/g/tOEAAOSwkSlbFJwb/s-l400.jpg" width="250" height="350" class="d-block w-100" alt="...">
            <p><em>Whatever it takes</em> to get the best service in town.</p>
        </div>
        <div class="col-md-4">
            <h5>Doctor Strange</h5>
            <img src="https://www.drawingtutorials101.com/drawing-tutorials/Chibi-Characters/chibi-dr-strange/how-to-draw-Chibi-Dr-Strange-step-0.png" width="250" height="350" class="d-block w-100" alt="...">
            <p>The best products in all Multiverse.</p>
        </div>
    </div>
</div>
  
  <%- include('footer') -%>
